@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

.main-footer {
    color: white;
    background-color: black;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    height: 265px;
    font-family: 'Mohave', sans-serif;
  }
  