.nav2{
  background-color: black;
}

.navbar-nav {
  align-items: center;
  color: #F36100;
  // background-color: black;

  .nav-link {
    color: #F36100 !important;
    font-size: 1.5rem;
  }

  .btn-primary {
    background-color: #F36100;
    color: black;

    &:hover {
      background-color: white;
      color: #F36100;
    }
  }
}
