main {
  #session {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 130vh;
  }

  #left {
    height: 87%;
    background: url("../assets/pedro-araujo-PDjYClxmnyk-unsplash.jpg") #00000090;
    // background-color: black;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    width: 40%;
    font-size: 54px;
    color: #F36100;
    display: grid;
    place-items: center;
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  #right {
    // padding-top: %;
    padding-left:11%;
    width: 70%;
    // height: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
    justify-items: end;
    // padding-left: 20%;
  }

  .box {
    background-color: #F36100;
    width: 80%;
    height: auto;
  }
}
.card-horizontal {
  display: flex;
  flex:  auto;
}

