.parent {
  display: grid;
  grid-template-columns: minmax(150px, 20%) 1fr;
}

.left {
  background-size: cover;
  /* display: flex; */
  justify-content: space-between;
  background-color: #f36347;
  /* text-decoration: none; */
  text-align: center;
  align-items: center;
  height: 100vh;
  display: inline-block;
}

.right {
  background: black;
}
.container {
  display: inline-block;
  justify-content: space-between;
}
.me-5 {
  padding-top: 30px;
  color: #000000;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.ms-1{
  text-decoration: none;
  color: #ffffff;
  font-size: large;
  


}
.ms-1:hover{
  color: #F36100;
  

}
.accent-1{
  font-size: x-large;
}
.container100{

 padding-top:15%;
 padding-left: 10px;
 background-color: #586969;
 
  
}
.logo{
  background-color: #f10000;
}
.nt-1{
  padding-top: 50%;
  margin-top: 50%;
}
#lala{
background-color: #586969;
}
.label-1{
  text-decoration: none;
 font-size: xx-large;
 font-weight: 650;



}