main {
  #quote {
    font-family: sans-serif;
    height: 45vh;
    display: grid;
    place-items: center;
    align-content: center;

    div {
      text-align: center;
      width: 50%;
      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: #000;
      }
      p {
        font-size: large;
        color: rgb(120, 120, 120);
      }
    }
  }
}
